@import url("https://fonts.googleapis.com/css2?family=OpenSansRegular:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: GuardianBold;
  src: url("./images/fonts/GuardianSansBold.otf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("./images/fonts/GuardianSansRegular.otf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("./images/fonts/OpenSans-Regular.ttf");
}

* html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: OpenSansRegular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Adding Variables */

:root {
  --blue-primary: #3c53cf;
  --primary-color-blue-dark: #172253;
  --grey-primary: #7a7a7a;
  --green-primary: #22bdac;
  --green-secondary: #01fab3;
  --button-gradient-primary: linear-gradient(
    90deg,
    #273dc2 0.25%,
    #3c6fe1 99.89%
  );
}

/* End Variables */

/* Start of Reusable Styles */
.primary-color-blue {
  color: var(--blue-primary);
}
.primary-color-grey {
  color: var(--grey-primary);
}
.primary-color-blue-dark {
  color: var(--primary-color-blue-dark);
}

.generic-title-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 55px;
  font-family: GuardianBold;
}

.generic-text-bold {
  font-size: 16px;
  font-weight: 600;
  font-family: GuardianBold;
}

.generic-para-text {
  font-family: OpenSansRegular;
  font-size: 18px;
  font-weight: bold;
  font-family: OpenSansRegular;
  font-style: normal;
}

.generic-title-para-blue {
  color: #354bcc;
  font-family: OpenSansRegular;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.generic-title-para-red {
  color: var(--blue-primary);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: OpenSansRegular;
}

.span-green-text {
  color: var(--green-primary);
  font-size: 16px;
  font-family: OpenSansRegular;

  font-style: normal;
}
.span-grey-text {
  color: var(--grey-primary);
  font-size: 16px;
  font-family: OpenSansRegular;

  font-style: normal;
}

.generic-title-para {
  font-family: OpenSansRegular;
  font-weight: 600;
  letter-spacing: 2px;
}

.generic-medium-text {
  font-family: GuardianBold;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

.maxwidthfortext {
  max-width: 648px;
  margin-left: auto;
  margin-right: auto;
}

.drop-chevron {
  width: 18px;
  margin-left: 5px;
}

/* End of Reusable Styles */

.container-fluid {
  padding: 0;
}

/* Start of utilities */
.marginleft5 {
  margin-left: 5px;
}
.marginleft10 {
  margin-left: 10px;
}
.marginleft20 {
  margin-left: 20px;
}
.marginleft30 {
  margin-left: 30px;
}
.marginleft40 {
  margin-left: 40px;
}
.marginleft50 {
  margin-left: 50px;
}
.marginright5 {
  margin-right: 5px;
}
.marginright10 {
  margin-right: 10px;
}
.marginright20 {
  margin-right: 20px;
}
.marginright30 {
  margin-right: 30px;
}
.marginright40 {
  margin-right: 40px;
}
.marginright50 {
  margin-right: 50px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.hidesmallscreen {
  display: block;
}
.hidebigscreen {
  display: none;
}
/* --------------------------------------------------------------------------  End of utilities --------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------Section 1 -------------------------------------------------------------------------------- */

.label-style-hometopcard {
  font-family: OpenSansRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #6b7892;
}

#controlled-tab-example-tab-Sell .tab-color-top .nav-item.show .nav-link,
.tab-color-top .nav-link.active,
.tab-color-top .nav-link:hover,
.tab-color-top .nav-link:hover::before,
.tab-color-top .nav-link:hover::after {
  border-color: none !important;
  border: none !important;
  transition: none !important;
  border-bottom: 2px solid #354bcc !important;
  outline: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  box-shadow: none !important;
}

#controlled-tab-example-tab-Sell .tab-color-top .nav-item.show .nav-link {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.tab-color-top .nav-tabs .nav-link {
  border: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.tab-color-top .nav-tabs .nav-link:hover::after {
  border: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.tab-color-top .nav-tabs .nav-link {
  border: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.tab-color-top .nav-link:hover::after {
  color: transparent;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.tab-color-top {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  border-bottom: solid 0.5px rgb(206, 198, 198) !important;
}

.tab-color-top .nav-link:hover {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: color 0.01s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.01s ease-in-out !important;
}

.card-top-text-buyysell1 {
  font-family: OpenSansRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}

.nav-link {
  transition: none !important;
  transition-property: none !important;
  transition-duration: none !important;
  transition-timing-function: none !important;
  transition-delay: none !important;
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
}

.main-drop-vard-secrev {
  width: 100%;
  border: solid 1px #fff;
  padding: 15px;
  margin-bottom: 20px;
  color: #fff;
  font-family: OpenSansRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
}

.form-control-sec1card {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #6b7892;
  outline: 0;
}
.form-control-sec1card:focus {
  box-shadow: none;
  border-bottom: 1px solid #6b7892;
}

.form-control-sec1card::placeholder {
  font-family: OpenSansRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
}

.top-card-crisec1-gra {
  background: linear-gradient(270deg, #273dc2 0%, #3b6ee1 100%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.home-image-top {
  position: relative;
  height: 100%;
  background: url("./images/homepage/homepage-hero1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-bitcoin-top-container {
  max-width: 400px;
}
.image-bitcoin-top {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.homescreen-section-1-button {
  background: linear-gradient(90deg, #273dc2 0.25%, #3c6fe1 99.89%);
  border: none;
  outline: none;
  color: white;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 20px;
  font-family: OpenSansRegular;
}

.card-top-section1-homepage {
  width: 100%;
  border: none;
}

.currency-text-card-section1 {
  font-size: 14 px;
  color: #687084;
  text-transform: uppercase;
}
.currency-rate-card-section1 {
  font-size: 14px;
  color: var(--green-primary);
  text-transform: uppercase;
}
.currency-rupees-card-section1 {
  font-size: 14px;
}
.border-rigt-card {
  border-left: 1px solid #687084;
}
.currency-buy-card-section1 {
  background: linear-gradient(90deg, #273dc2 0.25%, #3c6fe1 99.89%);
  border: none;
  outline: none;
  color: white;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: capitalize;
}

.currency-buy-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card-currency-buy-section1 {
  flex: 0 0 auto;
  width: 200px;
  border-right: 0.5px solid #687084;
}

.currency-buy-flexbox::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
  height: 5px;
}

.currency-buy-flexbox::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
  height: 5px;
}

.currency-buy-flexbox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--blue-primary);
  height: 5px;
}

.button-bootstrap-prev {
  opacity: 1 !important;
  width: auto;
}
.button-bootstrap-next {
  opacity: 1 !important;
  width: auto;
}

.icon-bootstrap-next {
  background-image: url(./images/homepage/buttonleft.png);
}

.icon-bootstrap-prev {
  background-image: url(./images/homepage/buttonright.png);
  margin: 0 !important;
  poopensansregular-events: none;
  opacity: 1 !important;
}

.icon-bootstrap-prev:focus {
  poopensansregular-events: none;
  opacity: 1 !important;
}
.icon-bootstrap-prev:hover {
  poopensansregular-events: none;

  opacity: 1 !important;
}

.main-btc-top-card {
  width: 20px;
  margin-right: 10px;
}

.div-height-control {
  height: 50px !important;
}

.hrs-section1-card {
  font-family: OpenSansRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #6b7892;
}
.loss-section1-card {
  font-family: OpenSansRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.card-carouse-sect1 {
  border: none;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.gentextsect-1 {
  font-family: OpenSansRegular;
  font-size: 14px;
}

.card-section1-main {
  width: 400px;
  border-radius: 20px !important;
}

.img-header-banner {
  width: 100%;
}
/*------------------------------------------------------------------------------End Section 1 ------------------------------------------------------------------------ */

/*Start Section 2 */
.carousel-bg-1 {
}
.carousel-bg-2 {
}

.circular-buttons-for-carousel {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.card-in-carousel-s2 {
  border: none;
  width: 400px;
}

/*--------------------------------------------------------------------------End Section 2  ----------------------------------------------------------------------*/
/*----------------------------------------------------------------------Start Section 3  ----------------------------------------------------------------------  */

.section-3-headingrev {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(199, 199, 199);
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 38px;
  font-weight: 600;
  font-family: GuardianBold;

  color: #172253;
}
.section-3-headingrev span {
  padding: 0 30px;
}
/* .section-3-heading1 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(199, 199, 199);
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-family: GuardianBold;
  font-size: 38px;
  font-weight: 600;
  color: #172253;
}
.section-3-heading1 span {
  padding: 0 100px;
  background: white;
} */

.section-3-heading1 {
  overflow: hidden;
  text-align: center;
  font-family: GuardianBold;
  font-size: 38px;
  font-weight: 600;
  color: #172253;
}
.section-3-heading1:before,
.section-3-heading1:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.section-3-heading1:before {
  right: 0.5em;
  margin-left: -50%;
}
.section-3-heading1:after {
  left: 0.5em;
  margin-right: -50%;
}

.section-3-para1 {
  font-size: 16px;
  font-weight: 600;
  color: #172253;
}

.section-3-para2 {
  color: #7a7a7a;
  font-weight: 300;
}

.image-section-3 {
  width: 159px;
  height: 168px;
}

.para-text-sec3re {
  padding-top: 50px;
}
.card-section-3re {
  border: none;
  background: white;
  color: #000;
  transition: 0.3s;
  max-height: 355px;
  text-align: center;
  font-family: OpenSansRegular;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}

.card-section-3re-body {
  min-height: 352px;
}

.card-section-3re:hover {
  border: none;
  color: #fff !important;
  background: #4c92e7;
  transform: scale(1.2);
  z-index: 99;
}

.section3-back {
  position: relative;
  height: 100%;
  background: url("./images/homepage/whicross.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-table-card {
  border-radius: 0px;
}

.main-heading-table {
  color: #0b1435;
}

.dark-blue-table {
  background: #1f33a6 !important;
}

.light-blue-table {
  background: #3e54d1 !important;
}

.table-maxwidth-sec1 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.tr-text-styles {
  font-weight: 600;
}

.tablesection3darkbg {
  position: relative;
  height: 100%;
  background: url("./images/homepage/tablebgdark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*----------------------------------------------------------------------End Section 3 ----------------------------------------------------------------------*/

.email-search-top {
  border: 1px solid #fff;
  border-radius: 40px;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
/* Form wrapper styling */

.search-wrapper {
  /* width: 450px;
  margin: 150px auto 50px auto; */
  width: 100%;
  border-radius: 40px;
  padding: 10px;
  background: transparent;
}

/* Form text input */

.search-wrapper input {
  width: 100%;
  height: 50px;
  padding: 10px 5px;
  border-radius: 10px;
  color: #fff;
  border: none;
  background: #26368f;
  background: transparent;
}

.search-wrapper input:focus {
  outline: 0;
  color: #fff;
  background: transparent;
}

.search-wrapper input::-webkit-input-placeholder {
  color: #fff;
  font-weight: normal;
  padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  border-style: none;
}

/* Form submit button */
.search-wrapper button {
  border: 0;
  cursor: poOpenSansRegular;
  color: #fff;
  background: linear-gradient(90deg, #18225a 0.09%, #374bc9 100.04%);
  border-radius: 20px;
  font-weight: 600;
  width: 100%;
  padding: 10px 1px;
}

.search-wrapper button:hover {
  /*     background: #e54040; */
}

.search-wrapper button:active,
.search-wrapper button:focus {
  outline: 0;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before {
  border-right-color: #c42f2f;
}

.search-wrapper button::-moz-focus-inner {
  /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}
/* End of Search */

.top-nav-links-dropdown {
  color: #fff;
  text-decoration: none;
  border: none;
  font-family: OpenSansRegular;
  font-weight: 300;
}
.top-nav-links-dropdown:hover {
  color: #fff;
}

.nav-item-left {
  margin-left: auto;
}

/* ------------------------------------------------------------------------------Main Nav --------------------------------------------------------------------*/

.top-nav-link-nav {
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.logo-playstore-nav-top {
  width: 75px;
}
.logo-appstore-nav-top {
  width: 75px;
}

.nav-link-button {
  border: none;
  outline: none;
  background: none;
}

.nav-link-button:focus,
.nav-link-button:hover {
  border: none;
  outline: none;
  color: #3549c4;
}

.logo-nav-main {
  width: 250px;
  height: 35px;
}

.nav-custom-classes {
  background: white;
}

.nav-main-toggle-button {
  border: none !important;
}

.nav-top-button {
  margin-left: 30px;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: poOpenSansRegular;
  /* height: 40px;
  width: 110px; */
  color: #fff;
  background: linear-gradient(90deg, #18225a 0.09%, #374bc9 100.04%);
  border-radius: 25px;
  font-weight: 300;
}

.start-trading-button {
  background: linear-gradient(90deg, #182357 0%, #394ed1 102.27%);
  padding-top: 15px;
  padding-bottom: 15px;
  width: 180px;
  padding-left: 25px;
  font-size: 12px;
  color: #fff;
  border: 0;
  border-radius: 25px;
  font-family: OpenSansRegular;
  font-style: normal;
  font-weight: normal;
  padding-right: 25px;
}
.start-trading-white {
  background: #fff;
  color: #1f33a6;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 180px;
  padding-left: 25px;
  font-size: 14px;
  border: 0;
  border-radius: 25px;
  font-family: OpenSansRegular;
  font-style: normal;
  font-weight: normal;
  padding-right: 25px;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.dropdown-menu {
  border: none;
  min-width: 100%;
  z-index: 1021 !important;
}

.animate {
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* ----------------------------------------------------------------------------------Start of section 2 -----------------------------------------------------------------------------------*/
.card-section2-icon-orange {
  color: #f5911f;
}
.card-section2-icon-blue {
  color: #637ee5;
}
.card-section2-icon-green {
  color: #46cd50;
}

.card-section2-paraText2 {
  font-size: 16px;
  font-weight: 300;
  font-family: OpenSansRegular;
}

.card-section2-button {
  border: none;
  outline: none;
  color: #000000;
  background: #fff;
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid #b6b2b2;
  border-radius: 7px;
  width: 100%;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #c4c4c4;
}
.carousel .carousel-indicators button.active {
  background-color: #2271ed;
}

.generic-title-heading-half {
  font-size: 22.5px;
}

/* ----------------------------------------------------------------------------------End of section 2 -----------------------------------------------------------------------------------*/

/* --------------------------------------------------------------------- Start of news Card component ---------------------------------------------------------------------------------- */
.news-card- {
  background: white;
}

.heading-news-card {
  color: white;
  font-size: 30px;
}
.heading-news-para {
  color: white;
  font-size: 15px;
  text-align: center;
}

.new-card-button {
  border: none;
  color: #26368f;
  outline: none;
  background: #01fab3;
  padding: 20px 30px;
  border-radius: 7px;
}

.card-news-logo {
  font-size: 25px;
}

.card-news-date {
  color: #26368f;
  font-weight: 600;
  letter-spacing: 3px;
}

.section-3-para-bottom {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(199, 199, 199);
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 16px;
  font-weight: 600;
  color: #687084;
  text-transform: uppercase;
}
.section-3-para-bottom span {
  padding: 0 50px;
  background: #e5e5e5;
}

.card-media-news-main {
}

.row-newstable {
}
/* ---------------------------------------------------------------------------------- End of news Card component ---------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------- Start Section 9 ---------------------------------------------------------------- */
.section9-homescreen {
  border-radius: 10px;
}

.accordian-container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.accordain-tag-1-c {
  border: 3px solid #2271ed;
  padding: 15px;
}

.color-card-acc {
}
.color-card-acc-white {
  background: white;
}

.btn-accordion {
  outline: none;
  border: none;
  background: transparent;
}
.btn-accordion:focus {
  outline: none;
  border: none;
  background: transparent;
}
/* ---------------------------------------------------------------- End Section 9 ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- Start Section 10 ---------------------------------------------------------------- */
.image-section-10 {
  background-image: url(./images/section10.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.image-container-iphone-section10 {
}

.section-10-maxwidth {
  max-width: 500px;
}

.image-container-iphone-section10 {
  padding-top: 10px;
  max-width: 400px;
}

.image-iphone-section10 {
  width: 100%;
}

.section-10-heading {
  font-size: 38px;
  font-weight: 700;
  color: #fff;
}

.section-10-para {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  font-family: OpenSansRegular;
}
/* ---------------------------------------------------------------- End Section 10 ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- End Section 5 ---------------------------------------------------------------- */
.image-section-4 {
  background-image: url(./images/section4bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.card-text-section4-header {
  font-family: OpenSansRegular;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: center;
  color: #3c53cf;
}

.card-section4-bottom {
  border: none;
  width: 270px;
}
/* ---------------------------------------------------------------- End Section 5 ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- Start Section 7 ---------------------------------------------------------------- */

.card-section-7 {
  border: none;
  max-height: 243px;
}

.card-body-sec7-green {
  /* border-left: 2px solid #01fab3; */
  height: 280px;
}

.text-blue-section7 {
  font-family: OpenSansRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}

.image-container-section7 {
  width: 100%;
}

.image-container-section7-image {
  width: 100%;
}
.logo-img {
  position: absolute;
  z-index: 1;
}

/* ---------------------------------------------------------------- End Section 7 ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- Start Section 6 ---------------------------------------------------------------- */
.section-6-main-section {
  background: linear-gradient(180deg, #08112d 0%, #162053 100%);
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card-feedback-section6 {
  flex: 0 0 auto;
  width: 320px;
  border: none;
  margin-right: 30px;
  margin-bottom: 20px;
}

.image-circle-feedback {
  border-radius: 50%;
  width: 50px;
}

.star-golden {
  color: #f9a83e;
}

.card-text-1-feedback {
  font-family: OpenSansRegular;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  color: #2271ed;
}
.card-text-2-feedback {
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: justified;
}
.card-text-3-feedback {
  font-family: OpenSansRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.card-text-4-feedback {
  font-family: OpenSansRegular;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.345em;
  text-align: left;
}

.scrolling-wrapper-flexbox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.scrolling-wrapper-flexbox::-webkit-scrollbar {
  height: 5px !important;
  background-color: #0b1435;
}

.scrolling-wrapper-flexbox::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  border: 2px solid #000000;
}

/* ---------------------------------------------------------------- End Section 6 ---------------------------------------------------------------- */

/*  ----------------------------------------------------------------------------------Start of Footer  ----------------------------------------------------------------------------------*/
.logo-playstore {
  object-fit: cover;
}

.footer-social-icons-img {
  width: 30px;
}

.logo-playstore {
  object-fit: cover;
}

.footer-bottom-span-blue {
  color: #012ffa;
}

.footer-bottom-header-text {
  color: white;
}
.footer-bottom-header-para {
  color: #aabade;
  font-weight: 300;
  font-family: OpenSansRegular;
  margin-top: 20px;
}

.footer-bottom-copyright {
  color: #fff;
  font-weight: 300;

  margin-top: 20px;
}

.footer-bottom-part {
  background: #181d2f;
}

.footer {
  background: #08112d;
  color: #fff;
}

/*  SECTIONS  */
.section-footer {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col-footer {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.col-footer:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group-footer-footer:before,
.group-footer-footer:after {
  content: "";
  display: table;
}
.group-footer-footer:after {
  clear: both;
}
.group-footer-footer {
  zoom: 1; /* For IE 6/7 */
}
/*  GRID OF FIVE  */
.span_5_of_5 {
  width: 100%;
}
.span_4_of_5 {
  width: 79.68%;
}
.span_3_of_5 {
  width: 59.36%;
}
.span_2_of_5 {
  width: 39.04%;
}
.span_1_of_5-footer {
  width: 18.72%;
}
.header-text-col5-footer {
  text-transform: uppercase;
  font-size: 18px;
}

.secondary-text-col5-footer {
  font-size: 16px;
  font-weight: 300;
  font-family: OpenSansRegular;
}
/*  ----------------------------------------------------------------------------------End of Footer ---------------------------------------------------------------------------------- */

/*  ----------------------------------------------------------------------------------Start of About Us ---------------------------------------------------------------------------------- */
/*  ----------------------------------------------------------------------------------Start of Section 1 of About Us ---------------------------------------------------------------------------------- */
.img-aboutus-sec1-container {
  width: 100%;
}
.img-aboutus-sec1-img {
  width: 100%;
}

/*  ----------------------------------------------------------------------------------End of Section 1 of About Us ---------------------------------------------------------------------------------- */
/*  ----------------------------------------------------------------------------------Start of Section 2 of About Us ---------------------------------------------------------------------------------- */
.parent-div-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.img-backg-img1-blue {
  background-image: url(./images/aboutus/blueimage.png);
  border-radius: 7px;
  background-repeat: no-repeat;
  width: 400px;
  background-size: cover;
  height: 380px;
}

.img-backg-img2 {
  width: 400px;
  transform: translate(40px, -40px);
}

/*  ----------------------------------------------------------------------------------End of Section 2 of About Us ---------------------------------------------------------------------------------- */
/*  ----------------------------------------------------------------------------------Start of Section 3 of About Us ---------------------------------------------------------------------------------- */
.row-top-aboutus-section-3 {
  background: linear-gradient(
    49.96deg,
    #9caed7 -2.34%,
    #eaf4ff 50.19%,
    #a0b2d9 98.93%
  );

  height: 100%;
}

.accordion-toggle:focus {
  outline: none;
}

.accordianheader-aboutsec3 {
  background: transparent;
}

.accordianbutton-aboutsec3 {
  font-family: OpenSansRegular;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 39px;
  /* identical to box height */
  text-transform: capitalize;
  color: #3c53cf;
  background: transparent;
}
.accordianbutton-aboutsec3:focus {
  outline: 0 !important;
  background: transparent;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.accordianitem-aboutsec3 {
  background: transparent;
}

.icon-img-acc-abtus {
  width: 20px;
  margin-right: 20px;
}

.card1accabtus {
  background: #5b50ce;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.card2accabtus {
  background: #4896f0;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.card3accabtus {
  width: 100%;
  border: none;
  background: #25358c;
  padding: 10px;
  border-radius: 10px;
}
/*  ----------------------------------------------------------------------------------End of Section 3 of About Us ---------------------------------------------------------------------------------- */
/*  ----------------------------------------------------------------------------------Start of Section 4 of About Us ---------------------------------------------------------------------------------- */
.imagebackground-abt-us-card {
  position: relative;
}

.imagebackground-abt-us-card-bgground {
  width: 100%;
  border-radius: 15px;
}

.hr-line-abtsec4 {
  color: var(--green-primary);
  width: 50px;
  border: 2px solid #01fab3;
}

.imagebackground-abt-us-card-image {
  width: 180px;
  position: absolute;
  top: 47%;
}

.imagebackground-abt-us-card-icon {
  width: 30px;
}

.card-abtus-sec4 {
  min-height: 530px;
  border: none;
  border-radius: 15px;
}

.text-para-abtus-sec4 {
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 0px 30px;
  line-height: 19px;
  letter-spacing: 0.345em;
  text-align: center;
  color: var(--grey-primary);
}

.text-head-abtus-sec4 {
  font-family: OpenSansRegular;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  word-wrap: break-word;
  text-align: center;
}
/*  ----------------------------------------------------------------------------------End of Section 4 of About Us ---------------------------------------------------------------------------------- */
/*  ----------------------------------------------------------------------------------Start of Section 5 of About Us ---------------------------------------------------------------------------------- */

/*  ----------------------------------------------------------------------------------End of Section 5 of About Us ---------------------------------------------------------------------------------- */
.image-back-about-section5 {
  background: url("./images/aboutus/section5aboutus.png");
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  background-position: center;
}

.form-control-contact {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #6b7892;
  outline: 0;
}
.form-control-contact:focus {
  box-shadow: none;
  border-bottom: 1px solid #6b7892;
}

.form-control-contact::placeholder {
  text-align: left;
  font-family: OpenSansRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}

.label-styles-contact {
  font-family: OpenSansRegular;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: #b6b6b6;
}
.label-styles-contact-message {
  font-family: OpenSansRegular;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: #172253;
}
/*  ----------------------------------------------------------------------------------End of About Us ---------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* Start of Support Page */

/* Section 1 */
.section1-support {
  background: linear-gradient(
    49.96deg,
    #9caed7 -2.34%,
    #eaf4ff 50.19%,
    #a0b2d9 98.93%
  );
}

.support-card {
  border: none;
  color: black;
  background: white;
  font-family: OpenSansRegular;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  height: 200px;
}

.support-card:hover {
  background: #0c5ff2;
  border: none;
  color: white;
}

.support-card {
  border: none;
}

.img-support {
  height: 70px;
  width: 70px;
}
/* End of Section 1 */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------START PRIVACY POLICY------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */

.text-general-policy-title {
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: justified;
  color: #354bcc;
}

.text-general-policy-para {
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: justified;
}

.section1-privacy {
  background: url("./images/PrivacyPolicy/PrivacyPolicy.png");
  height: 100%;
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------------------END PRIVACY POLICY---------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* -------------------------------------------------------------------------Start FAQ---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */

.text-faq-page-sidebar {
  font-family: GuardianBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #b9b9b9;
}
.card-faq-acc {
  border-radius: 12px;
}
.card-header-faq-acc {
  background: #fff;
  padding: 10px;

  border: none;
  border-radius: 12px !important;
}
.btn-acc-faq {
  font-family: OpenSansRegular;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 39px;
  text-transform: capitalize;
  color: #000000;
  font-family: GuardianBold;
  width: 100%;
  text-align: left;
}

.btn-acc-faq:focus:not(:focus-visible) {
  box-shadow: none;
}

.card-body-faq-acc {
  background: #fafafa;
  padding: 20px;
  font-family: OpenSansRegular;
  border-radius: 12px !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: justified;
  width: 100%;
}

.btn-acc-faq:after {
  font-family: "FontAwesome";
  content: "\f068";
  float: right;
  color: #0c5ff2;
}
.btn-acc-faq.collapsed:after {
  /* symbol for "collapsed" panels */
  font-family: "FontAwesome";
  content: "\f067";
  float: right;
  color: #0c5ff2;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------------------END FAQ---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------------------Start Contact Us---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
.row-contact-us-section3 {
  background: linear-gradient(
    49.96deg,
    #9caed7 -2.34%,
    #eaf4ff 50.19%,
    #a0b2d9 98.93%
  );
}

.section2-contactinfo-main {
  background: #0c5ff2;
  color: #fff;
}

.marginleft71 {
  margin-left: 71px;
}

.locationiconcontact {
  width: 71px;
  height: 80px;
}

.contact-us-blue-heading {
  font-family: OpenSansRegular;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}
.contact-us-blue-para {
  font-family: OpenSansRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: justified;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------------------END Contact US---------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------------------COMING SOON---------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
.main-cont-comingsoon {
  background-image: url("./images/comingsoon/Comingsoonbg.png");
}

.containerforcomingsoon {
  max-width: 600px;
}

.coming-soon-head {
  font-family: GuardianBold;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: 108px;
  letter-spacing: 0.065em;
  text-align: center;
  color: #fff;
}

.coming-soon-para {
  font-family: OpenSansRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  color: #fff;
}

/* -------------------------------------------------------------------------END OF COMING SOON---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .hidesmallscreen {
    display: none;
  }
  .hidebigscreen {
    display: block;
  }

  .accordian-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* About us section 5 */

  /* About us section 2 */
  .img-backg-img1-blue {
    background-image: url(./images/aboutus/blueimage.png);
    border-radius: 7px;
    background-repeat: no-repeat;
    width: 95vw;
    background-size: contain;
    height: 380px;
  }

  .imagebackground-abt-us-card-image {
    width: 140px;
  }

  .text-para-abtus-sec4 {
    font-size: 12px;
  }

  .text-head-abtus-sec4 {
    font-size: 20px;
    word-wrap: break-word;
  }

  .img-backg-img2 {
    width: 95vw;
    height: 50vh;
    transform: translate(0px, -0px);
  }
  /* About us section 2 */

  /* Start of Reusable Styles */
  .generic-title-heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
  }

  /* Section 3 */
  /* .section-3-heading1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(199, 199, 199);
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: #172253;
    background: #e5e5e5;
  }
  .section-3-heading1 span {
    background: #e5e5e5;
    padding: 0 30px;
  } */

  .section-3-heading1 {
    overflow: hidden;
    text-align: center;
    font-family: GuardianBold;
    font-size: 20px;
    font-weight: 600;
    color: #172253;
  }
  .section-3-heading1:before,
  .section-3-heading1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  .section-3-heading1:before {
    right: 0.5em;
    margin-left: -50%;
  }
  .section-3-heading1:after {
    left: 0.5em;
    margin-right: -50%;
  }
  /* End of Section 3 */

  /* End of reusable Styles */
  .col-footer {
    margin: 1% 0 1% 0%;
  }
  .span_1_of_5-footer,
  .span_2_of_5,
  .span_3_of_5,
  .span_4_of_5,
  .span_5_of_5 {
    width: 100%;
  }
}

/* End of Footer */

@media only screen and (max-width: 789px) {
  .top-nav-none {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .top-nav-none {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .search-wrapper button {
    position: relative;
    border: 0;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: poOpenSansRegular;
    /* height: 40px;
    width: 110px; */
    font-size: 14px;
    color: #fff;
    background: linear-gradient(90deg, #18225a 0.09%, #374bc9 100.04%);
    border-radius: 20px;
    font-weight: 600;
  }

  .dropdown-nav-main {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    width: 100% !important;
  }

  .button-top-nav {
    display: flex;
    justify-content: center;
  }

  .nav-top-button {
    margin-left: 0;
  }
  /*Start Section 1 */

  .image-bitcoin-top-container {
    width: 100%;
  }

  .border-rigt-card {
    border: none;
  }

  .row-card-top-section-1 {
    margin-top: 20px;
  }

  .card-currency-buy-section1 {
    width: 100%;
  }

  .card-section1-main {
    width: 100%;
  }

  /*End Section 1 */

  /* Section 2 */

  .card-in-carousel-s2 {
    width: 100%;
  }

  /*End Section 2 */
  .home-image-top {
    width: 100%;
  }

  .heading-top-text2 {
    color: #fff;
    font-size: 30px;
    text-justify: auto;
  }
  .search-wrapper button {
    width: 60%;
  }

  .second-div-toplanding {
    margin-top: 30px;
  }

  .card-main-top-div {
    width: 100%;
    margin-bottom: 10px;
  }
  .card-main-top-home {
    width: 100%;
    margin-bottom: 10px;
  }

  .getting-started-image-top {
    height: 100%;
    background-image: url(./images/colorimage2.png);
    background-size: cover;
    background-position: top;
  }

  .image-getting-started {
    width: 100%;
  }

  .second-section-heading {
    font-size: 30px;
  }

  /* Section4  */
  .card-section4-bottom {
    width: 90%;
  }

  .image-section-4 {
    background-image: url(./images/section4bg.png);
    background-repeat: repeat;
    background-position: center;
    height: 100%;
  }

  /*End Section4 */

  /* Section 10 */

  .image-section-10 {
    background-repeat: repeat;
  }

  /* End of Section 10 */
}
